html {
	background-color: #ffffff;
}

* {
	color: #000080;
}

a:visited {
	color: #ff0000;
}

a:link {
	color: #800080;
}

span { 
	font-size: 20px;
}

head { 
	font-weight: bold;
	font-size: 14px;
	text-align: center;
}